<div class="aq-about">
  <section class="page-section" id="about">

    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center intro-text">
          <h2 class="section-heading text-uppercase">About</h2>
          <h3 class="section-subheading text-muted">
            Boostrap Template is insipired by <a href="https://startbootstrap.com/previews/agency/" target="_blank">Agency
            template</a>.
          </h3>
        </div>
      </div>
    </div>

  </section>
</div>
